<input class="record" type="button" value="start recording">
<input class="stop-record" type="button" value="stop recording and play">

<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<video width="500" autoplay controls>
  Your browser does not support the video tag.
</video>
<audio src="" autobuffer autoloop loop controls></audio>

<button class="access-media" type="button">Access media devices</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js" type="text/javascript" charset="utf-8" async defer></script>
<script>
	$(document).ready(function () {
		// follow html5
		// var video = document.querySelector('video');
		// var constraints = { audio: true, video: { width: 1280, height: 720 } };

		// $('.access-media').click(function () {
		// 	$(this).hide();
		// 	// navigator.webkitGetUserMedia(constraints, function () {}, function () {});
		// 	navigator.getUserMedia = (navigator.getUserMedia ||
  //                           navigator.webkitGetUserMedia ||
  //                           navigator.mozGetUserMedia ||
  //                           navigator.msGetUserMedia);
		// 	if (navigator.getUserMedia) {
		// 	   navigator.getUserMedia({ audio: true, video: true },
		// 	      function(stream) {
		// 	         video.src = window.URL.createObjectURL(stream);
		// 	         video.onloadedmetadata = function(e) {
		// 	           video.play();
		// 	         };

		// 	          var context = new webkitAudioContext();
		// 		        var mediaStreamSource = context.createMediaStreamSource(stream);
		// 		        recorder = new Recorder(mediaStreamSource);
		// 		        recorder.record();
		// 	      },
		// 	      function(err) {
		// 	         console.log("The following error occured: " + err.name);
		// 	      }
		// 	   );
		// 	} else {
		// 	   alert('Sorry, your browser does not support getUserMedia');
		// 	}
		// });


		// follow flash
		var onFail = function(e) {
	    console.log('Rejected!', e);
	  };

	  var onSuccess = function(s) {
	  	try {
		    // Fix up for prefixing
		    window.AudioContext = window.AudioContext||window.webkitAudioContext;
		    context = new AudioContext();
		  }
		  catch(e) {
		    alert('Web Audio API is not supported in this browser');
		  }
	    // var context = new webkitAudioContext();
	    var mediaStreamSource = context.createMediaStreamSource(s);
	    console.log('mediaStreamSource', Recorder);
	    // recorder = new Recorder(mediaStreamSource);
	    // Recorder.record();

	    Recorder.record({
	      start: function(){
	      },
	      progress: function(milliseconds){
	        document.getElementById("time").innerHTML = timecode(milliseconds);
	      }
	    });

	    // audio loopback
	    // mediaStreamSource.connect(context.destination);
	  }

	  window.URL = window.URL || window.webkitURL;
	  navigator.getUserMedia  = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

	  var recorder;
	  var audio = document.querySelector('audio');

	  $('.record').click(function() {
	    if (navigator.getUserMedia) {
	      navigator.getUserMedia({audio: true}, onSuccess, onFail);
	    } else {
	      console.log('navigator.getUserMedia not present');
	    }
	  });

	  $('.stop-record').click(function () {
	    recorder.stop();
	    recorder.exportWAV(function(s) {
	      audio.src = window.URL.createObjectURL(s);
	    });
	  });



	});
</script>